In [4]:
import pandas as pd
import os
import pyarrow.feather as feather
data_path =  os.getcwd()
# folders names
categories = ["business", "tech", "politics", "sport", "entertainment"]
# paths to folders
folder_path = [data_path + "/data/bbc/" + categories[i] for i in range(len(categories))]
# names of files in every folder
file_path = []
for i in range(len(folder_path)):
    file_path_one_categ = [folder_path[i]+ "/" + file_name for file_name in os.listdir(folder_path[i])]
    file_path.append(file_path_one_categ)

# read all files
file_text = []
for i in range(len(categories)):
    file_text_one_categ = []
    for path in file_path[i]:
        with open(path, errors="replace") as open_file:
            file_text_one_categ.append(open_file.read())
    file_text.append(file_text_one_categ)

In [5]:
# concatenate all into single data.frame
dataFrame_list = []
for i in range(len(file_text)):
    data_one_cat = pd.DataFrame([file_text[i], [categories[i]]*len(file_text[i])])
    data_one_cat = data_one_cat.transpose()
    data_one_cat.columns= ["text", "category"]
    dataFrame_list.append(data_one_cat)

data_all = pd.concat(dataFrame_list)

In [6]:
print(data_all.groupby("category").count())
data_all.tail(5)

               text
category
business        510
entertainment   386
politics        417
sport           511
tech            401

                                                  text       category
381  US charity anthem is re-released\n\nWe Are The...  entertainment
382  Three DJs replace Peel radio show\n\nThe late ...  entertainment
383  Famed music director Viotti dies\n\nConductor ...  entertainment
384  Lit Idol begins search for author\n\nThe secon...  entertainment
385  Jungle TV show ratings drop by 4m\n\nThe final...  entertainment

In [7]:
data_all.reset_index().to_feather(fname="raw_text_DF.feather")

<ipython-input-7-cb83fb7799b0>:1: FutureWarning: the 'fname'' keyword is deprecated, use 'path' instead
  data_all.reset_index().to_feather(fname="raw_text_DF.feather")